{% extends 'layout.html.twig' %}



{% block title %}

    Add category

{% endblock %}

{% block content %}

    <section>
        <form action="" method="POST">
            <h1>Add new category :</h1>
            <input type="text" name="name" value="name">
            <input type="submit" value="add">
        </form>
    </section>

{% endblock %}

