{% extends 'layout.html.twig' %}



{% block title %}

    Add Item

{% endblock %}

{% block content %}

    <section>
        <form action="" method="POST">
            <h1>Add new item :</h1>
            <input type="text" name="title" value="title">
            <input type="submit" value="add">
        </form>
    </section>

{% endblock %}

